.background-color-light-blue {
  background-color: #eaeff5; 
}

.dropdown-item {
  transition: background-color 0.2s ease-in-out;
  
  &:hover {
    background-color: #e9ecef; 
  }
}

.btn-link .fas {
  vertical-align: middle;
}
